# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs

# Keep the prebuilt binaries we need
!lib/**/*

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug-system/

# Build directories
node_modules
vcpkg_installed
lib/*
.vscode
build/
out/
build-node/
!extern/usockets/Makefile
!extern/uwebsockets/Makefile

# Temporary files
.cache/
*.log
.env
.DS_Store
