name: Release

on:
  push:
    tags:
      - 'v*'

env:
  plugin_name: NeoCCAMS

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"    
      build_type: Release

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2022]
        architecture: [x86_64, arm64]
        # Adds a platform value to the matrix, used later on to run the appropriate
        # package command.
        include:
          - os: ubuntu-latest
            platform: linux
          - os: macos-latest
            platform: mac
          - os: windows-2022
            platform: win
        exclude:
          - os: ubuntu-latest
            architecture: arm64
          - os: windows-2022
            architecture: arm64

    steps:
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout submodules
        shell: bash
        run: |
          git submodule update --init --recursive

      - name: Compute version
        id: compute_version
        shell: bash
        run: |
          version=$(echo ${{ github.ref }} | sed -E 's/refs\/tags\/(v)?//g')
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.30.x'

      - name: Use cmake
        run: cmake --version

      - name: Setup MacOS environment
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          brew install utf8proc

      - name: Configure CMake (Windows and Linux)
        if: matrix.os != 'macos-latest'
        shell: bash
        run: |
          cmake . -DPLUGIN_VERSION=${{ steps.compute_version.outputs.version }}

      - name: Configure CMake (MacOS)
        if: matrix.os == 'macos-latest'
        shell: bash
        run: |
          cmake . -DPLUGIN_VERSION=${{ steps.compute_version.outputs.version }} -DCMAKE_APPLE_SILICON_PROCESSOR=${{ matrix.architecture }}

      - name: Build
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cmake --build . --config ${{ env.build_type }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.plugin_name }}-${{ matrix.platform }}-${{ matrix.architecture }}
          path: |
            lib/${{ env.plugin_name }}*
            bin\${{ env.build_type }}\${{ env.plugin_name }}.dll

  package:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Compute version
        id: compute_version
        shell: bash
        run: |
          version=$(echo ${{ github.ref }} | sed -E 's/refs\/tags\/(v)?//g')
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Download all build artifacts
        uses: actions/download-artifact@v4
        with:
          path: all_builds

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install NeoRadar CLI
        run: yarn global add https://github.com/neoradar-project/cli.git

      - name: Organize plugin binaries for packaging
        run: |
          mkdir -p all_builds/${{ env.plugin_name }}
          find all_builds -type f -name '${{ env.plugin_name }}*' -exec cp {} all_builds/${{ env.plugin_name }}/ \;

      - name: Rename binaries by platform and architecture
        shell: bash
        run: |
          for f in all_builds/${{ env.plugin_name }}/*; do
            ext="${f##*.}"
            base=$(basename "$f")
            # Detect platform and arch from the filename or from the file extension
            if [[ "$base" == *"dylib" ]]; then
              # macOS
              if [[ "$base" == *"arm64"* ]]; then
                mv "$f" "all_builds/${{ env.plugin_name }}/mac-arm64.dylib"
              else
                mv "$f" "all_builds/${{ env.plugin_name }}/mac-x64.dylib"
              fi
            elif [[ "$base" == *"so" ]]; then
              # Linux
              mv "$f" "all_builds/${{ env.plugin_name }}/linux-x64.so"
            elif [[ "$base" == *"dll" ]]; then
              # Windows
              mv "$f" "all_builds/${{ env.plugin_name }}/windows-x64.dll"
            fi
          done

      - name: Package .nrplugin
        run: |
          echo y | neoradar-cli create-plugin-archives ./all_builds

      - name: Create release and upload .nrplugin
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ env.plugin_name }} ${{ steps.compute_version.outputs.version }}
          prerelease: false
          draft: true
          files: |
            plugins/${{ env.plugin_name }}.nrplugin
